// COLORS
$color-background: #FFF;
$color-background-active:#667091;
$color-active-main-item: #FF811A;
$color-text: #000;
$color-gray-text: #667091;
$color-ok: #28AB31;
$color-warn: #F9C923;
$color-danger: #FB3D3D;

$color-active-background: #20263B;
$color-active-highlight: #7C8ABB;


$color-primary-light: rgb(241, 248, 255);
$color-secondary-light: #f3f3f3;
$color-secondary-dark: #5D564B;
$color-tertiary-light: #009F6B;
$color-tertiary-dark: #17213C;

$color-light-gray: #E8E8E8;
$color-light-gray-2: #B2B2B2;

$color-light-gray-4: #F5F5F5;


$color-light-gray-7: #E0E0E0;
$color-light-gray-8: #eeeeee;
$color-light-gray-9: #5D5D5D;
$color-text-gray:#646464;



$color-white: #fff;
$color-black: #000;
$color-red: #FF0000;
$color-hot-red: #e33333;
$color-darkred:darkred;
$color-green: #09BB07;
$color-green-dark: #009F6B;
$color-blue-light: #6A7FA6;
$color-blue-sky: #27EDFF;
$color-blue: #009CFF;
$color-yellow: #ffd700;
$color-cool-yellow: #e39e49;
$color-dark-orange: #FA8C16;


$color-prog-start: #FF9000;
$color-prog-end: #03E800;

// FONT
$default-font-size: 1.6rem;

// LENGTH
$container-width: 66.666666rem;
$container-width-tab-land: 66.666666rem;
$container-width-tab-port: 95vw;
$container-width-phone: 95vw;

$index-section-header-content-width: 28.3rem;
